body {
    background: #ffffff;
    font-family: 'Inter';
    font-size: 18px;
    color: #ffffff;
    width: auto;
}

.section1_bg {
    background: #35736E;
    color: #fff;
    height: 367px;
}

h2.proba {
    color: khaki;
}