body {
    background: #ffffff;
    font-family: 'Inter';
    font-size: 18px;
    color: #ffffff;
    width: 100%;
}

.section1_bg {
    background: #35736E;
    color: #fff;
    height: 567px;
    width: 100%;
    margin: 0 auto;
    align-items: center;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 0 20px;
}

.logo {
    font-family: 'Inter';
    font-size: 32px;
    font-weight: bolder;
    margin-right: 100px;
}

.nav ul {
    display: flex;
    list-style: none;
    flex-direction: row;
    gap: 20px;
    font-family: 'Inter';
    font-size: 16px;
    font-weight: bold;
    margin: 0;
    padding 0;
}

.nav ul li {
    position: relative;
}

