body {
    background: #ffffff;
    font-family: 'Inter';
    font-size: 18px;
    color: #ffffff;
    width: 100%;
}

.section1_bg {
    background: #35736E;
    color: #fff;
    height: 567px;
    width: 100%;
}

.header {
    display: flex;
    flex-direction: row;
}

.logo {
    font-family: 'Inter';
    font-size: 32px;
    font-weight: bolder;
    margin-right: 100px;
}

.menu {
    display: flex;
    flex-direction: row;
    font-family: 'Inter';
    font-size: 16px;
    font-weight: bold;
}

h2.proba {
    color: khaki;
}